{% extends 'base.html.twig' %}

{% block title %}DatabaseCredential index{% endblock %}

{% block body %}
    <h1>Database credentials listing</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Database Name</th>
                <th>Database User</th>
                <th>Port</th>
                <th>Host</th>
                <th>Password</th>
                <th>Environment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for database_credential in database_credentials %}
            <tr>
                <td>{{ database_credential.id }}</td>
                <td>{{ database_credential.name }}</td>
                <td>{{ database_credential.databaseName }}</td>
                <td>{{ database_credential.user }}</td>
                <td>{{ database_credential.port }}</td>
                <td>{{ database_credential.host }}</td>
                <td>
                    <a href="javascript:void(0)" data-database-credential-id="{{ database_credential.id }}"><span id="database-password-{{ database_credential.id }}">???</span></a>
                    <script>
                        document.querySelector('[data-database-credential-id="{{ database_credential.id }}"]')
                        .onclick = function() {
                            let databaseId = this.dataset.databaseCredentialId;
                            let urlGettingPassword = "{{ path('app_database_credential_expose_password', { id: database_credential.id }) }}";
                            fetch(urlGettingPassword, {
                                method: "POST",
                                body: 
                                JSON.stringify({
                                    "csrfProtection": "{{ csrf_token('reveal-database-password') }}"
                                })
                            })
                                .then( res => res.json() )
                                .then( data => alert(data.password) );
                        }
                    </script>
                </td>



                <td>
                {{ database_credential.environment.id ?? "not set" }}
                </td>



                <td>
                    <a href="{{ path('app_database_credential_show', {'id': database_credential.id}) }}">show</a>
                    <a href="{{ path('app_database_credential_edit', {'id': database_credential.id}) }}">edit</a>
                    <form method="POST" action="{{ path('app_database_backup_file_create_database_backup') }}">
                        <input type="hidden" name="database_credential_id" value="{{ database_credential.id }}" />
                        <input type="hidden" name="token" value="{{ csrf_token('database-backup') }}" />
                        <input type="submit" value="Generate backup" />
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_database_credential_new') }}">Create new</a>
{% endblock %}

{% block javascripts_bottom %}
    <script>
    </script>
{% endblock %}
