{% extends 'base.html.twig' %}

{% block title %}DatabaseCredential index{% endblock %}

{% block body %}
    <h1>DatabaseCredential index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DatabaseName</th>
                <th>Port</th>
                <th>Host</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for database_credential_form in database_credentials_backup_form %}
            <tr>
                <td>{{ database_credential_form.databaseCredential.id }}</td>
                <td>{{ database_credential_form.databaseCredential.name }}</td>
                <td>{{ database_credential_form.databaseCredential.databaseName }}</td>
                <td>{{ database_credential_form.databaseCredential.port }}</td>
                <td>{{ database_credential_form.databaseCredential.host }}</td>
                <td>{{ database_credential_form.databaseCredential.password }}</td>
                <td>
                    <a href="{{ path('app_database_credential_show', {'id': database_credential_form.databaseCredential.id}) }}">show</a>
                    <a href="{{ path('app_database_credential_edit', {'id': database_credential_form.databaseCredential.id}) }}">edit</a>
                    {# <a href="{{ path('app_database_backup_file_create_database_backup', {'database_credential_id': database_credential.id}) }}">backup</a> #}
                    {# <form>
                    </form> #}
                    {# {% database_credential_form.form form '' %} #}
                    {% form_theme database_credential_form.form with ['foundation_5_layout.html.twig'] only %}
                    {{ form_start(database_credential_form.form) }}
                    {{ form_end(database_credential_form.form) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
