{% extends 'base.html.twig' %}

{% block title %}DatabaseBackupFile{% endblock %}

{% block body %}
    <h1>DatabaseBackupFile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ database_backup_file.id }}</td>
            </tr>
            <tr>
                <th>FileName</th>
                <td>{{ database_backup_file.fileName }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ database_backup_file.date ? database_backup_file.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_database_backup_file_index') }}">back to list</a>

    {# <a href="{{ path('app_database_backup_file_edit', {'id': database_backup_file.id}) }}">edit</a> #}

    {{ include('database_backup_file/_delete_form.html.twig') }}
{% endblock %}
